body {
  color: #757575;
  background-color: #ffffff;
}
/* колір заголовків #212121 */
/* колір абзаців #757575 */
/* колір акценту #2196F3 */
/* колір фону героя #2F303A */
/* заголовок героя #FFFFFF */

/* Шапка */
.web-word {
  color: #2196f3;
}
.studio-word {
  color: #212121;
}
.site-navig {
  list-style: none;
}
.site-navig a {
  color: #212121;
}
.site-navig a:hover,
.site-navig a:focus {
  color: #2196f3;
}
.contact-navig {
  list-style: none;
}
.contact-navig a {
  color: #757575;
}
.contact-navig a:hover,
.contact-navig a:focus {
  color: #2196f3;
}

/* Герой */
.hero-title {
  color: #ffffff;
}
/* Основна частина */

/* Наші переваги */
.advantages-title {
  color: #212121;
}
/* Напрямки нашої діяльності */
.activity-title {
  color: #212121;
}
/* Наші співробітники */
.team-title {
  color: #212121;
}
.team-member-name {
  color: #212121;
}
/* "Підвал" */
.studio-word-white {
  color: #ffffff;
}
.post-addres {
  color: #ffffff;
}
.contact-navig-foot a {
  color: #ffffff;
}
.contact-navig-foot a:hover,
.contact-navig-foot a:focus {
  color: #2196f3;
}
/* Кнопка замовлення */
.servis-order {
  color: #ffffff;
  background-color: #2196f3;
}
